
@import "lib/normalize";
@import "global/reset";
@import "global/font";
@import "global/typography";



.ui {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 20px;
    font-size: 12px;
}
