doctype html
html(lang="en")
  head
    title Signature Prototype 
    link( rel="stylesheet" href="style/prototype.css")
  body
    div#signature-test1
    #container.ui
        h1 SIGNATURE PROTOTYPE
        p Test 1

    script(type='text/javascript' src="js/chi-prototype.js")